/**@description: 公共库类 
*  @author: Tea.JY 
*  @update: Tea.JY (2016年6月20日)
*/
*{font-family:Helvetica,'microsoft yahei';}
/** 清除内外边距 **/
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, /* structural elements 结构元素 */
dl, dt, dd, ul, ol, li, /* list elements 列表元素 */
pre, /* text formatting elements 文本格式元素 */
form, fieldset, legend, button, input, textarea, /* form elements 表单元素 */
th, td /* table elements 表格元素 */ {
margin: 0;
padding: 0;
}

/** 设置默认字体 **/
address, cite, dfn, em, var, i { font-style: normal; } /* 将斜体扶正 */
code, kbd, pre, samp { font-family: courier new, courier, monospace; } /* 统一等宽字体 */
small { font-size: 12px; } /* 小于 12px 的中文很难阅读，让 small 正常化 */

/** 重置列表元素 **/
ul,ol{ list-style: none; }

/** 重置文本格式元素 **/
i{font-style: normal;}
a {text-decoration: none;color:#000;}
a:hover {text-decoration:none;}

/** 重置表单元素 **/
legend{color:#000;} /* for ie6 */
fieldset{border:0;} /* img 搭车：让链接里的 img 无边框 */
img{vertical-align: middle;border: 0;-webkit-tap-highlight-color: #fff;}
/* 注：optgroup 无法扶正 */

/** 重置表格元素 **/
table{border-spacing: 0;border-collapse: collapse;}

/** 统一表单边框 **/
input,button,textarea{border: none;background-color: #fff;-webkit-appearance:none;border-radius: 0;}
input:focus,button:focus,textarea:focus,select:focus{outline:none;}

/* textarea */
textarea{resize: none;}

/*屏蔽点击a时，产生的背景*/
a{tap-highlight-color: rgba(0,0,0,0);-webkit-tap-highlight-color: rgba(0,0,0,0);}

body,html,#app{color: #333;height: 100%;}

/*遮罩*/
.mask{position: fixed;top: 0;bottom: 0;left: 0;right: 0;margin:auto;background-color: rgba(0,0,0,.6);z-index: 99;}

/*容器浮动*/
.fl,.float-l{float:left;}
.fr,.float-r{float:right;}

/*清除浮动*/
.clearfix{*+height:1%;}
.clearfix:after{display: block;visibility: hidden;clear: both;height: 0;content: '';}

/*头部*/
header{text-align: center;color: #fff;background-color: #eeb40c;position: fixed;height: 1.375rem;line-height: 1.375rem;top: 0;left: 0;width: 100%;box-sizing: border-box;font-size: 0.469rem;}
header .header-left{position: absolute;top: 0;left: 0.375rem;font-size: 0.375rem;}
header .header-right{position: absolute;top: 0;right: 0.375rem;font-size: 0.375rem;}
header .header-left img,header .header-right img{height: 0.78125rem;}
header .num{position: absolute;width: 0.375rem;height: 0.375rem;border-radius: 0.1875rem;background-color: #ec5330;font-size: 10px;display: block;top: 0.3125rem;left: 50%;line-height: 0.375rem;text-align: center;vertical-align: sub;display: inline-block;}
header .header-tab .header-tab-item{display: inline-block;font-size: 0.4375rem;padding: 0 0.390625rem;box-sizing: border-box;height: 1.375rem;}
header .header-tab .active{border-bottom: 0.0625rem solid #fff;}

/*多选checkbox*/
.checkgroup,.radiogroup{position: relative;width: .406rem;height: 1.375rem;text-align: center;}
.checkgroup label,.radiogroup label{position: absolute;z-index: 1;top: 0;bottom: 0;left: 0;display: block;width: .344rem;height: .344rem;margin: auto 0;text-align: center;color: #fff;border: .031rem solid #eeb40c;border-radius: 50%;background: transparent;}
.checkgroup input[type=checkbox],.radiogroup input[type=radio]{visibility: hidden;}
.checkgroup input[type=checkbox]:checked + label,.radiogroup input[type=radio]:checked + label{background: url(../images/radio_bg.png) center center no-repeat;background-size: .234rem .234rem;}

/*按钮样式*/
.btn-content{margin:0 0.546875rem;}

.btn{font-size: .469rem;font-size: .46875rem;line-height: 1.25rem;display: block;box-sizing: border-box;width: 100%;height: 1.25rem;text-align: center;color: #fff;border: none;border-radius: .125rem;background-color: #eeb40c;}
.btn-sm-outline{display: inline-block;width: auto;padding: 0 0.15625rem;}
.btn:disabled{background-color: #c7c7c7;}

.footerNav{padding-bottom: 50px;}