
	.ForgetPasswordInput .btn-content{margin-top: 0.625rem;}
	.input-group-type-2{width: 100%;border-bottom: 0.031rem solid #e5e5e5;padding: 0 0.312rem;height: 1.25rem;overflow: hidden;}
	.input-group-type-2 label{font-size: 0.438rem;color: #666;display: block;float: left;width: 1.875rem;line-height: 1.25rem;height: 1.25rem;}
	.full-input{margin-left: 2.344rem;height: 1.25rem}
	.full-input input{height: 1.25rem;font-size: 0.406rem;width: 100%;vertical-align: top;}
