/*找回密码*/
.findpassword-title{margin-top: 0.656rem;font-size: 0.375rem;color: #333;}
	.findpassword-title span{margin-bottom: 0.406rem;display: block;text-align: center;}

.findpassword-main{width: 100%;border-top: 0.031rem solid #e5e5e5;margin-bottom: 0.719rem;}
	.full-input{border-bottom: 0.031rem solid #e5e5e5;}
	.full-input input{line-height: 1.25rem;height: 1.25rem;font-size: 0.406rem;width: 100%;text-align: center;}

.reSendCode{text-align: right;display: block;font-size: 0.438rem;color:#666;padding: 0.312rem;}